build/
bin/
lib/
obj/

# Archivos de depuración y temporales
**/cde.json
*.o
*.obj
*.obj
*.lo
*.la
*.d
*.exe
*.dll
*.lib
*.a
*.so
*.dylib
*.DS_Store
Thumbs.db

# IDE específicos (si usas otros)
.vscode/
.vs/
.idea/
*.iml

